<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgrej.mapper.MessageMapper">

    <select id="getChatRecords" resultType="com.sgrej.domain.vo.MessageHistoryVO">
        SELECT context, time, receive_id
        FROM message
        WHERE
            (receive_id = #{userId} AND send_id = #{friendId})
           OR
            (receive_id = #{friendId} AND send_id = #{userId})
        ORDER BY time ASC;
    </select>


    <update id="readRecords">
      update message set status = 1
        WHERE
            (receive_id = #{userId} AND send_id = #{friendId})
           OR
            (receive_id = #{friendId} AND send_id = #{userId})
    </update>

</mapper>
