<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgrej.mapper.ReviewMapper">

    <insert id="addReview">
        INSERT INTO `reviews`
            (`user_id`, `business_id`, `stars`, `useful`, `funny`, `cool`, `text`, `date`, `rid`) VALUES
        (#{userId}, #{bid}, #{stars}, 0, 0, 0, #{text},#{date},#{rid})
    </insert>

    <update id="changeReview" parameterType="com.sgrej.domain.dto.ReviewSatisfactionDTO">
        UPDATE `reviews`
        <set>
            useful = useful + #{useful},
            funny = funny + #{funny},
            cool = cool + #{cool}
        </set>
        WHERE review_id = #{reviewId}
    </update>

    <select id="getAll" resultType="com.sgrej.domain.pojo.Review">
        select review_id,user_id,business_id,stars,useful,funny,cool,text,date,rid from reviews
        <where>
           <if test="begin != null">
               and date &gt;= #{begin}
           </if>
            <if test="end != null">
               and date &lt;= #{end}
            </if>
        </where>
        order by date desc
    </select>

</mapper>