<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgrej.mapper.UserMapper">
      <insert id="register" useGeneratedKeys="true" keyProperty="userId">
          INSERT INTO `user` ( `uid`,`name`, `password`, `age`, `gender`, `city`, `email`, `review_count`,  `cool`, `useful`, `elite`, `yelping_since`, `funny`,`friends`) VALUES
                                                    (#{uid},#{name}, #{password},#{age}, #{gender}, #{city}, #{email}, 0, 0, 0, null, #{yelpingSince}, 0,null);

      </insert>
    <update id="editUser">
        UPDATE user
        <set>
            <if test="name != null and name.trim() != ''">
                name = #{name},
            </if>
            <if test="password != null and password.trim() != ''">
                password = #{password},
            </if>
            <if test="age != null and age!=0">
                age = #{age},
            </if>
            <if test="gender != null and gender.trim() != ''">
                gender = #{gender},
            </if>
            <if test="city != null and city.trim() != ''">
                city = #{city},
            </if>
            <if test="email != null and email.trim() != ''">
                email = #{email},
            </if>
            <if test="reviewCount == 1">
                review_count = review_count+1,
            </if>
            <if test="useful == 1">
                useful = useful+1,
            </if>
            <if test="funny == 1">
                funny = funny +1,
            </if>
            <if test="cool == 1">
                cool = cool +1,
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <select id="findFriend" resultType="com.sgrej.domain.pojo.User">
        SELECT
        uid,
        user_id AS userId,
        name,
        password,
        email,
        gender,
        age,
        city,
        review_count AS reviewCount,
        cool,
        useful,
        elite,
        yelping_since AS yelpingSince,
        funny,
        friends,
        CASE
        WHEN friends IS NOT NULL THEN CHAR_LENGTH(friends) - CHAR_LENGTH(REPLACE(friends, ',', '')) + 1
        ELSE 0
        END AS friendNumbers
        FROM user
        <where>
            <if test="userName != null and userName.trim() != '' ">
                AND name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="email != null and email.trim() != ''">
                AND email = #{email}
            </if>
            <if test="(email == null || email.trim() == '') and (userName == null || userName.trim() == '') ">
                AND user_id > 0 AND user_id &lt; 2000000
            </if>
        </where>
        ORDER BY yelping_since DESC
    </select>

    <select id="findFriend2" resultType="com.sgrej.domain.pojo.User">
        select uid,user_id,name,password,email,gender,age,city,review_count,cool,useful,elite,yelping_since,funny,friends from user
        <where>
            <if test="userName != null and userName.trim() != '' ">
                and name like concat('%',#{userName},'%')
            </if>
            <if test="email != null and email.trim() != ''">
                and  email = #{email}
            </if>
             AND user_id NOT IN (#{friendsId})
        </where>
    </select>

    <select id="getUserNamesByUserIds" resultType="map">
        SELECT uid as userId, name as userName FROM user
        WHERE uid IN
        <foreach collection="list" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

</mapper>